body  {
  background:hsl(295, 83%, 44%);
  margin-left: 50px;
  margin-right: 200px;
}

hearde{
margin-top: 70px;
}

h1 {
 color: yellow;
 font-family: fantasy;
}

h2{
 font-family: fantasy;
}

p{
   font-size: 20px; 
}

img{
    bottom: 20px;
}
footer{
  margin-bottom: 30px;
}

.img_padão{
  margin-bottom: 20px;

}